/*!
 * Invory
 * ------
 * author: http://kl-webmedia.com/
 * coder: empanda | roll4@outlook.com;
 * date: 2015 II-V
 * version: 1.0
 */

/*---------------------------------------------------
[Table of contents]

CTRL + F To search for e.g. !fonts

1. Fonts !fonts
2. Buttons !buttons
3. Colors !colors
4. Header !header
5. Sections !sections
6. Custom Styles !custom
7. Lists !lists
8. Portfolio !portfolio
9. Features !features
10. Services !services
11. Team !team
12. Pricing !pricing
13. Blog !blog
14. Forms !forms
15. Timeline !timeline
16. Footer !footer
17. Dropdowns !dropdowns
18. Sidebar !sidebar
19. Tabs !tabs
20. Accordions !accordions


-----------------------------------------------------*/

/* Fonts !fonts */

@import url(http://fonts.googleapis.com/css?family=Montserrat:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* General !general */

html, body {
	margin:0;
	border:0;
	font-family:Helvetica;
	overflow-x:hidden;
}

body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #262626;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Montserrat, sans-serif;
	margin:15px 0;
	text-transform: uppercase;
} 

h1.alt, h2.alt, h3.alt, h4.alt, h5.alt, h6.alt {
	font-family: Raleway, sans-serif;
	margin:20px 0;
	text-transform: uppercase;
}

hr {
	height:3px;
	width:40px;
	border:none;
	text-align: center;
	background:#ffc925;
	display:inline-block;
	margin:5px auto;
}

hr.white {
	background:white;
}

h1 { font-size: 40px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

.lowercase {
	text-transform:lowercase;
}

.no-transform {
	text-transform: none !important;
}

.spaced {
	letter-spacing:6px !important;
}

p {
	font-size:14px;
	font-family: Raleway;
	color:#8d8d8d;
	line-height: 30px;
	margin:10px 0;
}

p.quote {
	padding-left:20px;
	margin:40px 0;
	border-left:2px solid #ffc925;
	font-style: italic;
}

/* Buttons !buttons */

.btn {
	text-transform: uppercase;
	display: inline-block;
	padding:6px 12px;
	font-family: Montserrat;
	border:2px solid transparent;
	border-radius:0;
	transition:all 0.3s ease;
}

.btn-default {
	border-color:#262626;
	color:#262626;
	background: transparent;
}

.btn-default:hover {
	border-color:#ffc925;
	color:#ffc925;
	background: transparent;
}

.btn-accent {
	border-color:#ffc925;
	background: #ffc925;
	color:white;
}

.btn-white {
	border-color:white;
	color:white;
	background: transparent;
}

.btn-gray {
	border-color:#8d8d8d;
	color:#8d8d8d;
}

.btn-gray:hover {
	border-color:#ffc925;
	color:#ffc925;
	background: transparent;
}

.btn i.fa {
	margin:0 8px;
}

.btn-white:hover {
	border-color:#ffc925;
	background: transparent;
	color:#ffc925;
}

.btn-view-cart {
	font-size:10px;
	background: #ffc925;
	color:white !important;
	clear:none !important;
	margin:10px 15px;
}

.cart-price {
	margin:15px 20px;
	display: inline-block;
	font-size:12px;
}

/* Colors !colors */

.white {
	color:white;
}

.accent {
	color:#ffc925;
}

.muted {
	color:#8d8d8d;
}

.dark-accent {
	color:rgba(0,0,0,.3);
}

.yellow-bg {
	background:#ffc925;
}

.light-yellow-bg {
	background:#f9e199;
}

/* Header !header */

.navbar .search-form {
	display: none;
	border-radius:0;
	background:white;
	font-family: 'Open Sans';
	text-transform: none;
	color:#262626;
	border:0;
	font-size:18px;
	width:80%;
	float:right;
	outline:0;
	border-bottom:1px solid #eee;
	padding-top:20px;
}

@media(max-width:768px) {
	.navbar .search-form {
		width:100%;
	}
}

.navbar .search-form:focus {
	outline:0;
}

.owl-header .item {
	text-align:center;
	display:table;
	width:100%;
	height:800px;
	background:gray;
}

.owl-header .item .header-text {
	display:table-cell;
	vertical-align:middle;
}

.dropdown-list {
	padding:0;
	list-style: none;
}

.yamm-content.two-columns-small {
	width:300px;
}

.yamm-content.two-columns-medium {
	width:420px;
}

.dropdown-list li > a {
	transition: all 0.3s ease;
}

.dropdown-list li:hover > a {
	color:#262626;
}

.dropdown-list h6 {
	margin-left:20px;
}

.sign {
	margin-top:40px;
}

.vcenter {
	position: relative;
}


/* Sections !sections */

section { 
	padding:70px 0;
}

section.call-to-action {
	background:url('../img/call_to_action.jpg') no-repeat center center;
	background-size:cover;
	padding:150px 0;
}

.extra-padding-top {
	padding-top:40px;
}

.extra-padding {
	padding:30px 0 !important;
}

.extra-margin {
	margin:20px 0;
}

img.full-width {
	width:100%;
}

/* Custom !custom */

.intro-padding {
	padding:0;
}

.top-fashion {
	padding:80px 0;
	padding-right:40px;
}

img.devices-img {
	margin:40px 0;
}

.intro-box {
	padding:30px;
	margin:16px 0;
}

.intro-box.custom {
	margin-top:-6px;
}

.intro-box1 {
	padding:50px;
	margin-top:5px;
}

.discount-box {
	padding:25px;
	color:white;
	margin-top:-34px;
}

.winter-shop {
 padding:85px 30px;
 transition: all 0.3s ease;
}

.winter-shop hr {
 height:0;
 transition: all 0.3s ease;
}

.winter-shop:hover hr {
 height:3px;
}

.winter-shop:hover {
 opacity:.7;
}

.bordered {
	padding:5px 10px;
	border:4px solid white;
	margin:20px 0;
}

.big-icon {
	font-size:48px;
}

.box-link-holder {
	padding:23px;
	display: inline-block;
	position: relative;
	width:100%;
}

.box-link-holder:after {
	transition:all 0.3s ease;
	transform: translateZ(0px);
	content:"\f178";
	font-family: 'FontAwesome';
	color:rgba(0,0,0,.3);
	position: absolute;
	width:0px;
	height:40px;
	line-height: 40px;
	text-align: center;
	overflow: hidden;
	bottom:0px;
	right:0px;
	background:#f9e199;
	opacity:0;
}

.box-link-holder:hover:after {
	width:40px;
	opacity: 1;
}

.box-link-holder  .box-link {
	width:100%;
	padding:64px 0;
	display: inline-block;
	position: relative;
}

.box-link-holder  .box-link .big-icon {
	font-size:62px;
	margin:28px 0;
}

.shadow-img {
	width:80%;
	box-shadow:15px 15px 0px #ffc925;
}

.center {
	margin:0 auto;
}

img.iphone {
	width:70%;
	margin-bottom:50px;
}

@media(max-width:768px) {
	.shadow-img {
		margin-bottom:50px;
	}
}

.spec-icon {
	font-size:36px;
}

/* Specs !specs */

.spec {
	margin:20px 0;
}

.spec-title .heading{
	display:inline-block;
	margin-left:20px;
	margin:10px 20px;
}

.spec-title .heading-bottom {
	display: inline-block;
	margin-top:5px;
	font-size:12px;
}

/* Lists !lists */

ul.list {
	list-style: none;
	padding:0;
	font-family: "Montserrat";
}

ul.list li {
	text-transform: uppercase;
	margin:30px 0;
	padding-left:20px;
	transition:all 0.3s ease;
}

ul.list li a {color:#262626;}
ul.list li a:hover {color:#ffc925;}

ul.list li a:before {
	content:"\f178";
	font-family: 'FontAwesome';
	width:35px;
	height:35px;
	position: relative;
	left:-20px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	border:2px solid #262626;
	transition:all 0.3s ease;
}

ul.list li:hover a:before {
	border-color:#ffc925;
	color:#ffc925;
}

/* Portfolio !portfolio */

.portfolio-filter {
	margin:50px 0;
}

.portfolio-filter a {
	margin:10px;
}

.portfolio-container {
	width:100%;
	padding-right:0px;
}

.portfolio-container .item img {
	width:100%;
	height: 100%;
	position: relative;
	top:0;
}

.portfolio-container .item {
	position: relative;
	width:25%;
	height:350px;
}

.portfolio-container .item.w2 {
	width:50%;
	height:400px;
}

.portfolio-container .item.w3 {
	width:33.333333333%;
}

/* Responsive Portfolio */
@media(max-width:991px) {
	.portfolio-container .item {
		position: relative;
		width:50%;
		height:350px;
	}
	.portfolio-container .item.w2 {
		width:100%;
		height:400px;
	}

	.portfolio-container .item.w3 {
		width:33.333333333%;
	}
}

@media(max-width:768px) {
	.portfolio-container .item {
		position: relative;
		width:100%;
		height:350px;
	}
	.portfolio-container .item.w2 {
		width:100%;
		height:400px;
	}

	.portfolio-container .item.w3 {
		width:50%;
	}
}

.left-arrow:after {
	content:' ';
	position: absolute;
	z-index:4000;
	top:calc(50% - 10px);
	left:-19px;
	height:0;
	width:0;
	border-right:20px solid white;
	border-top:20px solid transparent;
	border-bottom:20px solid transparent;
}

.right-arrow:after {
	content:' ';
	position: absolute;
	right:-19px;
	z-index:4000;
	top:calc(50% - 10px);
	height:0;
	width:0;
	border-left:20px solid white;
	border-top:20px solid transparent;
	border-bottom:20px solid transparent;
}

.portfolio-container .item.info {
	padding:20px;
}

.portfolio-container .item .overlay {
	position: absolute;
	top:0;
	width:0;
	height:0;
	top:50%;
	left:50%;
	text-align: center;
	background:rgba(0,0,0,.7);
	display: table;
	transition:all 0.2s ease;
	opacity: 0;
}

.portfolio-container .item:hover .overlay {
	width: calc(100% - 30px);
	height: calc(100% - 30px);
	opacity: 1;
	top:15px;
	left:15px;

}

.portfolio-container .item .overlay .description {
	display: table-cell;
	vertical-align: middle
}

.portfolio-container .item .overlay hr {
	display: block;
	margin:40px auto;
}

/* Features !features */

.small-feature {
	margin-bottom:50px !important;
}

.small-feature .icon {
	font-size:36px;
}

.small-feature .content {
	margin-left:70px;
	margin-top:-50px;
}

.small-feature-left .content {
	margin-right:70px;
	margin-top:-50px;
}

.feature {
	width:100%;
	padding:20px;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.feature .feature-details .heading {
	color:#262626;
}

.feature .feature-details {
	display: inline-block;
	margin-left:100px;
}

.feature .icon {
	color:#262626;
	font-size:56px;
	position: absolute;
	text-align: center;
	transform: translateY(50%);
	width:80px;
	transition:all 0.3s ease;
}

.feature:hover .icon {
	color:white;
}

.feature:hover {
	background:#ffc925;
}

.feature .heading, .feature p {transition:all 0.3s ease;}
.feature:hover .heading, .feature:hover p {color:white;}

.feature:after {
	transition:all 0.3s ease;
	transform: translateZ(0px);
	content:"\f178";
	font-family: 'FontAwesome';
	color:rgba(0,0,0,.3);
	position: absolute;
	width:0px;
	height:40px;
	line-height: 40px;
	text-align: center;
	overflow: hidden;
	bottom:0px;
	right:0px;
	background:#f9e199;
	opacity:0;
}

.feature:hover:after {
	opacity: 1;
	width:40px;
}

/* Services !services */

.service {
	transition: all 0.3s ease;
	padding:40px;
}

.service-holder:hover .service {
	transform: rotateY(360deg);
	padding:20px 40px;
	color:white;
	background:#262626;
}


.service .icon {
	font-size:40px;
	margin-bottom:10px;
}

.service ul {
	list-style: none;
	padding:0;
	font-family:Raleway;
	font-size:14px;
	display:none;
}

.service-holder:hover ul {
	display:block;
}

.service ul li {
	margin:10px 0;
	color:white;
}

/* Team !team */

.team {
	margin:40px 0;
}

.team .holder {
	margin-bottom:40px;
	overflow: hidden;
	position: relative;
}

.team .holder .overlay {
	transition:all 0.3s ease;
	background:rgba(0,0,0,.8);
	position: absolute;
	padding:20px;
	bottom:-100%;
	opacity: 0;
}

.team .holder img {
	transition: all 0.3s ease;
}


.team .holder:hover img {
	transform: translateY(20px);
}

.team .holder:hover .overlay {
	bottom:0;
	opacity: 1;
}

.team .holder .overlay ul.social {
	list-style: none;
	padding:0;
}

.team .holder .overlay ul.social li {
	display: inline-block;
	margin:0 10px;
	transition:all 0.5s ease;
}

.team .holder .overlay ul.social li:hover {
	transform: rotateY(360deg);
}

.team .holder .overlay ul.social li a {
	color:white;
	font-size:16px;
}

.team .holder .overlay ul.social li:hover a{
	color:#ffc925;
}

/* Pricing Tables !pricing */

.pricing-table {
	width:100%;
	margin:40px 0;
}

.pricing-table .pricing-heading {
	width:100%;
	background:#262626;
	padding:20px 0;
	transition: all 0.3s ease;
}

.pricing-table .price {
	padding:20px 0;
}

.pricing-table .price .heading {
	font-size:64px;
	transition: all 0.3s ease;
} .pricing-table .price sup {font-size:32px;}

.pricing-table .price .small {
	text-transform: lowercase;
}

.pricing-table ul {
	list-style: none;
	padding:0;
}

.pricing-table ul li {
	margin:15px 0;
	color:#8d8d8d;
	font-family: Raleway;
}

.pricing-table .btn {
	margin-top:30px;
}

.pricing-table:hover .pricing-heading {background:#ffc925;}
.pricing-table:hover .heading {color:#ffc925;}
.pricing-table:hover .btn {border-color:#ffc925; color:#ffc925;}

.no-navigation .owl-buttons {
	display: none;
}

.fashion {
	margin:0 -15px;
}

.owl-clients {
	margin:50px 0;
	height:100px;
	line-height: 100px;
}

.owl-clients .item img {
	margin:0 auto;
	transition: all 0.3s ease;
	opacity:.6;
}

.owl-clients .item:hover img {
	margin:0 auto;
	opacity:1;
}

@media(min-width:992px) {
	.facts .fact:not(:last-child) {
		border-right:1px solid #aeaeae;
	}
	.facts.white .fact:not(:last-child) {
		border-right:1px solid white;
	}
}

/* Blog !blog */

.main-blog .blog-post {
	margin:0; margin-bottom:60px;
}

.main-blog .blog-post .blog-header {
	margin-bottom:15px;
}

.main-blog .blog-post img.blog-header {
	width:100%;
}

.main-blog .blog-post a.blog-header.quote {
	display: inline-block;
	padding:70px 50px;
	background:#ffc925;
	position: relative;
}

.main-blog .blog-post a.blog-header.quote:after {
	transition:all 0.3s ease;
	content:"\f178";
	font-family: 'FontAwesome';
	color:#b68d11;
	position: absolute;
	width:0px;
	height:40px;
	line-height: 40px;
	text-align: center;
	overflow: hidden;
	bottom:0px;
	right:0px;
	background:#f9e199;
	opacity:0;
}

.main-blog .blog-post a.blog-header.quote:hover:after {
	width:40px;
	opacity: 1;
}

.main-blog .blog-post .blog-header.video {
	width:100%;
	height:500px;
}

.blog-diagonal {
	padding:40px 0 !important;
	position: relative;
	overflow: hidden;
}

.blog-diagonal .arrow {
	background: black;
	opacity:.8;
	top:0;
	height:100%;
	position: absolute;
	transition: all 0.3s ease;
}

@media(max-width:991px) {
	.blog-diagonal .arrow {
		width:100%;
	}
	.blog-diagonal .arrow:after {
		content:none;
	}
}

.blog-diagonal .arrow:after {
	content:' ';
	position: absolute;
	top:-800px;
	right:-500px;
	transition: all 0.3s ease;
	width: 0; 
	height: 0;
	border-top: 500px solid transparent;
	border-bottom: 500px solid transparent;
	border-left:500px solid black; 
}

.blog-diagonal:hover .arrow {
	background:#ffc925;
}

.blog-diagonal:hover .arrow:after {
	border-left-color:#ffc925;
	top:-750px;
}

.blog-diagonal-title .spec-icon {
	color:white;
	border:2px solid white;
	font-size:20px;
	width:40px;
	height:40px;
	text-align: center;
	line-height: 40px;
	transition: all 0.3s ease;
}

.blog-diagonal-title .heading{
	display:inline-block;
	margin-left:20px;
	margin:10px 20px;
	color:white;
	transition: all 0.3s ease;
}

.blog-diagonal-title .heading-bottom {
	display: inline-block;
	margin-top:5px;
	font-size:12px;
	color:#ffc925;
	transition: all 0.3s ease;
}

.blog-diagonal:hover .blog-diagonal-title .spec-icon { color:#262626; border-color:#262626 ;}
.blog-diagonal:hover .blog-diagonal-title .heading { color:white; }
.blog-diagonal:hover .blog-diagonal-title .heading-bottom { color:#262626; }

.blogs-d {
	margin:0;
	margin-top:30px;
}


#map {
	height:400px;
	width:100%;
	border-top:3px solid #ffc925;
}

/* Forms (with checkboxes) !forms */

.form-control {
  display: block;
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  font-family: 'Open Sans';
  line-height: 1.42857143;
  color: white;
  background-color: transparent;
  background-image: none;
  border: 1px solid #919191;
  text-transform: no-transform;
  border-radius:0;
  margin:30px 0;
}
.form-control.default {
	color:#262626;
	font-family:Raleway;
	text-transform: lowercase;
}
.form-control.search {
	padding:25px 20px;
	padding-right:50px;
	text-transform: lowercase;
	color:#262626;
}
form.search-form a.search {
	position: relative;
	top:-65px;
	float:right;
	color:#aeaeae;
	margin-right:20px;
}
.form-control:focus {
  outline: 0;
  border-color:#919191;
  box-shadow:none;
}
.form-control::-moz-placeholder {
  color: #aeaeae;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #aeaeae;
}
.form-control::-webkit-input-placeholder {
  color: #aeaeae;
}

.labels {
	color:#262626;
	font-family:Montserrat;
	text-transform: uppercase;
	font-size:16px;
	text-shadow:1px 1px 1px rgba(0,0,0,.1);
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-family: 'Open Sans';
  font-size:12px;
  font-weight: 500;
  text-transform: uppercase;
  color:#aeaeae;
  margin-right:15px;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	font-family: Montserrat;
  content: '✔';
  position: absolute;
  top:4px; left:4px;
  font-size: 10px;
  color: #aeaeae;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

.checkbox-holder {
	background: #f2f2f2;
	border:1px solid #bfbfbf;
	padding:10px 20px;
	margin-bottom:20px;
}

/* Timeline !timeline */

.timeline .post .icon {
	width:60px;
	height:60px;
	line-height: 55px;
	text-align: center;
	font-size:20px;
	border:2px solid #262626;
	transition: all 0.3s ease;
}

.timeline .post:hover .icon {
	color:#ffc925;
	border-color:#ffc925;
}

/* Footer !footer */

footer {
	padding:60px 0;
	background: #262626;
	color:white;
}

@media(max-width:768px) {
	footer .row > div[class^="col-"] {
		margin:30px 0;
	}
}

hr.long {
	border:0;
	height:0;
	border-bottom:3px solid #383838;
	width:100%;
	margin:40px 0;
}

footer .contact-info {
	padding:40px 0;
}

footer .contact-info span[class^="icon-"] {
	font-size:32px;
	margin-bottom:15px;
}

footer ul.social {
	list-style: none;
	padding:0;
}

footer ul.social li {
	display: inline-block;
	margin:0 10px;
}

footer ul.social li a {
	font-size:16px;
	width:40px;
	height:40px;
	display: inline-block;
	border:2px solid white;
	color:white;
	line-height: 40px;
	text-align: center;
}

footer ul.social li:hover a {
	border:2px solid #ffc925;
	color:#ffc925;
}

footer .contact .row p {
	margin-left:25px;
	margin-top:-25px;
	transition: all 0.3s ease;
}

footer .contact .row i {
	transition: all 0.3s ease;
}

footer .contact .row:hover i {color:#ffc925;}
footer .contact .row:hover p {color:#ffc925;}

footer p.copyright {
	font-family:Montserrat;
	margin-top:40px;
}

.twitter-feed .content {
	margin-left:30px;
	margin-top:-35px;
}

.flickr-gallery {
	position: relative;
}

.flickr-gallery .f-img {
	width:33.3333333%;
	display: inline-block;
	margin:-2px;
	margin-top:-3px;
	position: relative;
	overflow:hidden;
}

.flickr-gallery .f-img img {
	width:100%;
}

.flickr-gallery .f-img .overlay {
	position: absolute;
	width:50%;
	height:50%;
	background:rgba(0,0,0,.8);
	transition: all 0.3s ease;
	opacity: 0;
	top:25%;
	left:25%;
	text-align: center;
	line-height: 90px;
}

.flickr-gallery .f-img:hover .overlay {
	top:0;
	left:0;
	width:100%;
	height: 100%;
	opacity: 1;
}

/* Dropdowns !dropdowns */

.dropdown-shop {
  width:230px;
  position: absolute;
}

.dropdown-shop li {
	position: relative;
}

.dropdown-shop li:not(:last-child) {
	border-bottom:1px solid #ececec;
}

.dropdown-shop img.shop-dd-tn {
	width:30px;
	margin-top:10px;
}

.dropdown-shop .desc {
	margin-left: 70px;
	margin-top:-60px;
}

.dropdown-shop .desc .heading {
	text-transform: none;
}

.dropdown-shop .close {
	font-size:12px;
	position: absolute;
	top:0;
	right:-5px;
}

.dropdown-shop .close:hover {
	background: transparent;
}

/* Sidebar !sidebar */

.sidebar .latest .post {
	margin:0;
	padding:15px 0;
	border-bottom:1px solid #e1e1e1;
}

.sidebar .latest .post h5 {
	transition: all 0.3s ease;
	color:#8d8d8d;
}

.sidebar .latest .post:hover h5 {
	color:#262626;
}

.sidebar .latest .post:last-child {
	margin-bottom:30px;
}

.sidebar ul.social {
	list-style: none;
	padding:0;
}

.sidebar ul.social li {
	display: inline-block;
	margin:0 10px;
}

.sidebar ul.social li a {
	font-size:16px;
	width:40px;
	height:40px;
	display: inline-block;
	border:2px solid #aeaeae;
	color:#aeaeae;
	line-height: 38px;
	text-align: center;
}

.sidebar ul.social li:hover a {
	border:2px solid #ffc925; 
	color:#ffc925;
	
}

.row.comments {
	margin:0;
}

.row.comments .comment {
	padding:20px 0;
	margin:0;
}

.row.comments .comment.nested {
	padding-left:80px;
}

.row.comments .comment .content {
	margin-left:100px;
	margin-top:-90px;
}

@media(min-width:769px) {
	.row.comments .comment .content .btn-reply {
		margin-top:-40px;
		border-color:transparent;
	}
}

.row.comments .comment img.pic {
	width:80px;
}

/* Shop !shop */
.shop-dropdown {
	display: inline-block;
	position: relative;
}
.btn.btn-shop {
	font-family: Raleway;
	text-transform: none;
	background:#f2f2f2;
	border:1px solid #aeaeae;
	color:#aeaeae;
	padding:15px 25px;
	margin:15px 0;
	margin-right:20px;
}
.btn.btn-shop  span {
	color:#262626;
}

.range-slider {
	margin:30px 0;
}

.product {
	margin:20px 0;
	position: relative;
}

.product.new-product:before {
	transform: rotate(-45deg);
	content:' ';
	color:white;
	top:-30px;
	right:10px;
	position: absolute;
	border-left:50px solid #ffc925;
	border-top:50px solid transparent;
	border-bottom:50px solid transparent;
}

.product.new-product:after {
	content:'NEW';
	color:white;
	position: absolute;
	top:15px;
	font-size:12px;
	right:25px;
}

.product img.pic {
	width:100%;
	margin:0 auto;
}

.product .price-old {
	text-decoration: line-through;
}

.product .price-new {
}

.product-holder {
	position: relative;
	overflow: hidden;
	text-align: center
}

.product-holder .overlay {
	width:100%;
	height: 100%;
	position: absolute;
	background:rgba(255,255,255,.6);
	transition: all 0.3s ease;
	top:100%;
}

.product-holder .overlay a {
	position: absolute;
	top:calc(50% - 5px);
	left:calc(50% - 6px);
	color:#262626;
}

.product-holder:hover .overlay {
	top:0;
}

span.price-big {
	font-size:20px;
}

.cart-btn {
	border-color:transparent;
}

label[for="quantity-spinner"] {
	margin-right:-50px;
}

.gallery {
	position: relative;
	overflow: auto
}

.gallery .gallery-pic {
	position: relative;
	width:70%;
	float:left;
	margin-right:15px;
}

.gallery .gallery-pic > img {
	width:100%;
}

.gallery .thumbnails {
	width:calc(30% - 15px);
	display:inline-block;
	float:left;
	position: relative;
	overflow:hidden;
}

.gallery .thumbnails .product-holder {
	width:100%;
	position: relative;
	display:inline-block;
	margin-bottom:-4px;
}

.gallery .thumbnails .product-holder img {
	height: 100%;
	width:100%;
}

/* Tabs !tabs */

.tabs-container .tab-nav {
}

.tabs-container .tab-nav > a {
	display: inline-block;
	padding:15px 25px;
	margin-right: -5px;
	color:white;
	font-size:13px;
	background: #ffc925;
	opacity:.7;
	text-transform: uppercase;
}

.tabs-container .tab-nav > a.active {
	opacity: 1;
}

.tabs-container .tab-holder .tab {
	width:100%;
	padding:15px 0;
}

/* Tabs !tabs */

.accordions {

}

.accordions .accordion {
	margin:40px 0;
	width:100%;
	position: relative;
}

.accordions .accordion .content {
	padding:20px;
}

.accordions .accordion a.heading {
	color:white;
	color:#262626;
	width:100%;
	padding:15px;
	margin-bottom:15px;
	position: relative;
	padding-left:25px;
}

.accordions .accordion.active a.heading {
	color:white;
}

.accordions .accordion a.heading:before {
	content:' ';
	height:40px;
	top:5px;
	position: absolute;
	width:5px;
	left:0;
	background: #ffc925;
	transition: all 0.3s ease;
	z-index:-1;
}

.accordions .accordion.active a.heading:before {
	width:calc(100% + 10px);
}

.project ul.social {
	list-style: none;
	padding:0;
	margin:20px 0;
}
.project ul.social li {
	display: inline-block;
	margin-right:10px;
}
.project ul.social li a {
	font-size:16px;
	width:40px;
	height:40px;
	display: inline-block;
	border:2px solid #aeaeae;
	color:#aeaeae;
	line-height: 38px;
	text-align: center;
}
.project ul.social li:hover a {
	border:2px solid #ffc925;
	color: #ffc925;
}